# Environment files
.env

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Logs
*.log
# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
.env
venv/
env/

# ML models
ml/models/*.pkl

# Node / React
node_modules/
dist/
.DS_Store
*.local

# IDE
.vscode/
.idea/
